.form-group {
  position: relative;
  &__label {
    @include HeadingS-font-mobile;
    color: $grey-color;
    margin-bottom: 4px;
    &--error {
      color: $red-color;
    }
  }
  &__input {
    @include HeadingM-font-mobile;
    border: 1px solid $line-color;
    border-radius: 8px;
    outline: none;
    padding: 16px;
    width: 100%;
    &--error {
      border-color: $red-color;
    }
  }
}

@media (min-width: 640px) {
  .form-group {
    &__label {
      @include HeadingS-font;
    }
    &__input {
      @include HeadingM-font;
    }
  }
}
