.form-group-error,
.form-error {
  @include Body-font-mobile;
  color: $red-color;
  left: 0;
  position: absolute;
  right: 0;
}

.form-group-error {
  bottom: -21px;
}

.form-error {
  top: 88px;
}

@media (min-width: 640px) {
  .form-group-error,
  .form-error {
    @include Body-font;
  }
}
