.form-group {
  position: relative;
  &__label {
    @include HeadingS-mobile;
    color: $grey-color;
    margin-bottom: 4px;
    &--error {
      color: $red-color;
    }
  }
  &__input {
    @include HeadingM-mobile;
    border: 1px solid $line-color;
    border-radius: 8px;
    outline: none;
    padding: 16px;
    width: 100%;
    &--error {
      border-color: $red-color;
    }
  }
}
