.form-line {
  align-self: center;
  background-color: $line-color;
  border: none;
  grid-column: 1/4;
  grid-row: 2/3;
  height: 1px;
  width: 100%;
}

@media (min-width: 640px) {
  .form-line {
    grid-column: 1/5;
  }
}
