.form {
  position: relative;
  display: grid;
  gap: 32px 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  margin-bottom: 32px;
}

@media (min-width: 640px) {
  .form {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0;
    gap: 0 16px;
  }
}
