* {
  box-sizing: border-box;
}

#app {
  background-color: $light-grey-color;
  min-height: 100vh;
  min-width: 100vw;
  padding: 90px 16px 0;
}

@media (min-width: 872px) {
  #app {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
